.container {
  .mobile {
    & {
      display: none;
      visibility: hidden;
    }
  }
}

@media only screen and (max-width: 992px) {
  .container {
    .desktop {
      & {
        display: none;
        visibility: hidden;
      }
    }
    .mobile {
      & {
        display: block;
        visibility: visible;
      }
    }
  }
}
